a{text-decoration: none; color:#0096ff !important}

.product-container{width:300px; border:1px solid #aaa; margin:10px; display:inline-block;}
.product-container img{width:100%; height:auto;}

.page_tagline{text-align:center; font-size: 18px}
.page_title{text-align: center;  font-size: 36px}

.product_tagline, .product_title{font-size: 16px}

.title{font-size:20px;}
.description{padding:10px;}

.overlay{height:286px;width:0%;position:fixed;background-color: rgba(0,150,255, 0.8);z-index: 1}
